<div class="col-12 border border-primary py-2">
    <h3
        class="col-12 mb-3 pb-2 border-bottom border-primary title"
        [ngClass]="{
            'text-primary': tasksList.type === taskTypeEnum.TODO,
            'text-warning': tasksList.type === taskTypeEnum.IN_PROGRESS,
            'text-success': tasksList.type === taskTypeEnum.DONE
        }"
    >
        {{ tasksList.name }}
    </h3>
        <app-task
            *ngFor="let item of tasksList.tasks; let i = index"
            [task]="item"
            [first]="i === 0"
        ></app-task>
</div>
