<h3>Add task with reactive forms</h3>
<div class="row">
    <div class="col-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
            <mat-form-field class="col-12">
                <input
                    matInput
                    placeholder="title"
                    value=""
                    formControlName="title"
                    autocomplete="off"
                    (keyup)="onTitleChange()"
                >
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Type</mat-label>
                <mat-select
                    formControlName="type"
                >
                    <mat-option *ngFor="let type of taskTypeEnum | keyvalue" [value]="type.value">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button
                class="btn col-4"
                type="submit"
                [ngClass]="{
                    'btn-success': form.valid,
                    'btn-secondary': form.dirty && !form.valid
                }"
            >submit!</button>
            <button
                class="btn col-4 ml-2"
                type="button"
                (click)="onReset()"
                [ngClass]="{
                    'btn-warning': form.dirty
                }"
            >reset</button>
        </form>
    </div>
    <div class="col-4 mt-4">
        <div class="alert alert-danger col-12" role="alert" *ngIf="error">
            form error!
            <div *ngIf="form.get('title')?.errors?.required">
                title required
            </div>
            <div *ngIf="form.get('title')?.errors?.minlength">
                min length: {{ form.get('title')?.errors?.minlength.requiredLength }},
                actual: {{ form.get('title')?.errors?.minlength.actualLength }}
            </div>
        </div>
    </div>
</div>
